[*.cs]

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = always:silent
